.DS_Store
.idea
.vscode
*.log
*.yaml
.env
venv
news-parser/news
news-parser/pages
data.json
node_modules
__pycache__
faq-parser/faq-pages
faq-parser/faq-pages-linked
faq-parser/faq.html
faq-parser/qa
faq-parser/qa-linked